.orange-button {
    display: inline-block;
    color: #4c9f77;
    font-size: 1em;
    padding: 16px;
    padding: 1rem;
    margin: 0;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    background: #4c9f77;
    border-radius: 50px;
    border-style: solid;
    color: #fff;
    float: left;
}

.sb-soundplayer-play-btn:hover {
    -webkit-transform: scale(1.0625);
    -ms-transform: scale(1.0625);
    transform: scale(1.0625);
}

.sb-soundplayer-play-btn:focus {
    -webkit-transform: scale(.9375);
    -ms-transform: scale(.9375);
    transform: scale(.9375);
}

.sb-soundplayer-play-icon {
    width: 1em;
    height: 1em;
    position: relative;
    vertical-align: middle;
}

.progress-container {
    background-color: #DDD;
    width: 100%;
    height: 8px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 10px;
    float: left;
}

.progress {
    background-color: #ce77b2;
    height: 100%;
}

.track-info {
    float: left;
    margin-left: 20px;
}

.timer {
    float: right;
    color: #6F6F6F;
}

.track-title {
    margin: 0;
    color: #272727;
    font-weight: 300;
    letter-spacing: 0.02em;
}

.track-user {
    margin: 0;
    color: #505050;
}

.player {
    overflow: hidden;
    display: block;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    text-align: left;
}

.search-field {
    font-size: 40px;
    width: 85%;
    margin-right: 5px;
    height: 60px;
    border-color: #7cbc48;
}

.search-button {
    font-size: 25px;
    height: 61px;
    background-color: #4c9f77;
    border: none;
    font-weight: normal;
    color: #fff;
    padding: 20px;
}

.center {
    width: 64px;
    margin: 0 auto;
}

#main {
    text-align: center;
    padding: 30px;
    background: #427dae
}

#search-results {
    margin-top: 50px;
}
.h1-text {
    font-size: 28px;
    display: block;
    font-weight: 400;
    margin: 13px 0px 8px 0px;
}